/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  color: #293c4b;
  padding: 2rem;
}

/* VECTOR DISPLAY */
.vector-display-container {
  position: relative;
  padding: 1rem;
  padding-bottom: 0.8rem;
  /* background: radial-gradient(rgb(0, 0, 0) 60%, rgb(78, 78, 78) 70%); */
  background: #181818;
  border-radius: 50%;
  border: 0.1rem white solid;
  box-shadow: 0 0 1.5rem rgb(207, 207, 207) inset;
}

.vector-display {
  background: rgb(35, 98, 117);
  border-radius: 50%;
  box-shadow: 0 0 4rem black inset;
  border: 1px solid black;
}

.vector-display-container::after {
  content: "";
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  /* border: 0.1rem solid rgb(48, 48, 48); */
  border-radius: 50%;
  pointer-events: none;
  background: radial-gradient(1000% 1000% at 70% bottom, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, 0.2) 9%, rgba(255, 255, 255, 0) 15%);
}

.vector-display g:hover {
  stroke: rgb(0, 174, 255);
}

.vector-path {
  fill-opacity: 0; 
  stroke-width: 0.5; 
  stroke: rgb(114, 234, 255); 
  stroke-linecap: round;
  stroke-linejoin: round;
  filter: url(#glow);
}

.vector-path-burn {
  stroke: white; 
  fill: white; 
  filter: url(#glow);
  opacity: 0.7;
}



.entities {
  display: flex;
  flex-wrap: wrap;
}

.entity {
  border: 1px solid #262626;
  border-radius: 0.3rem;
  margin: 1rem;
  padding: 1rem;
}

.buff, .skill {
  border: 1px solid magenta;
  border-radius: 0.2rem;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 8rem;
}

.part {
  border: 1px solid rgb(110, 110, 110);
  padding: 1rem;
  margin: 0.5rem;
  width: 10rem;
}

.skill {
  border: 1px solid green;
}